.exercises-container {
  width: 95%;
  margin-left: 5%;

  padding: 10px 20px;

  & h1 {
    font-size: 40px;
  }

  & .exercise-article {
    background: var(--second-color);

    margin: 20px 0;
    padding: 15px;

    border-radius: var(--border-radius);

    display: flex;
    gap: 20px;

    & .exercise-img {
      width: 300px;
      height: 200px;
      object-fit: cover;

      border-radius: var(--border-radius);
    }

    & .exercise-info {
      max-width: calc(100% - 300px - 20px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .exercise-info-description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
        overflow: auto;
        text-overflow: ellipsis;
        margin-bottom: 10px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      & .exercise-data {
        display: flex;
        gap: 20px;

        margin-top: auto;

        & .exercise-data-div .exercise-data-title {
          font-size: 16px;
        }
      }
    }
  }
}
