input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input:focus {
  outline: none;

  box-shadow: inset 0 0 7px #000;

  transition: 0.1s box-shadow linear;
}

.btn-add {
  background: none;

  width: 50%;

  text-align: left;
  color: var(--font-color);

  border: none;
}

label {
  font-size: 22px;
}

form {
  background: var(--second-color);

  padding: 20px;

  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 20px auto;

  text-align: center;

  border-radius: 24px;

  & > h1 {
    font-size: 40px;
  }

  & > .form-group-duration {
    & > input {
      width: 60px;
      height: 50px;

      margin-left: 10px;

      border-radius: 6px;
      border: none;

      font-size: 25px;
      text-align: center;
    }
  }

  & > .form-group {
    display: flex;
    flex-direction: column;

    text-align: left;

    margin: 10px 0;

    & > input[type="text"],
    & > input[type="date"],
    & > input[type="email"],
    & > input[type="password"] {
      padding: 7px 14px;

      border-radius: 24px;
      border: none;

      font-size: 25px;
    }

    & .sets-form-group {
      margin-top: 20px;

      & > h3 > button {
        background: none;
        border: none;

        cursor: pointer;
      }

      & > .set-divs-container {
        display: flex;

        justify-content: space-between;

        & > .sets-form-group-div {
          width: 50%;

          & > input {
            width: 60px;
            height: 50px;

            margin-left: 10px;

            border-radius: 6px;
            border: none;

            font-size: 25px;
            text-align: center;

            &:focus {
              outline: none;

              box-shadow: inset 0 0 10px #444;
            }
          }
        }
      }
    }

    & > .btn-add-set {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  & > .numeric-data {
    display: flex;
    justify-content: space-around;

    padding: 20px;

    & > .numeric-data-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      & > input {
        width: 60px;
        height: 70px;

        border-radius: 8px;
        border: none;

        font-size: 30px;

        text-align: center;
      }
    }
  }

  & > #btn-add-exercise {
    font-size: 25px;
  }

  & > #btn-submit {
    background: var(--third-color);

    width: 70%;
    height: 50px;

    margin: 20px auto;

    border-radius: 24px;
    border: none;

    font-size: 25px;
    color: var(--font-color);

    transition: background 0.2s linear;

    cursor: pointer;

    &:hover {
      background: #238d24;
    }
  }
}
