:root {
  --first-color: #313131;
  --second-color: #292929;
  --third-color: #4257de;
  --border-radius: 20px;
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-solid {
  color: var(--font-color);
}

.subtitle {
  opacity: 0.6;
}

body {
  background: var(--first-color);

  min-height: 100%;

  color: var(--font-color);
}
