:root {
  --first-color: #313131;
  --second-color: #292929;
  --third-color: #4257de;
  --border-radius: 20px;
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-solid {
  color: var(--font-color);
}

.fa-trash {
  margin-left: auto;

  font-size: 20px;

  &:hover {
    color: #ff0000;
    opacity: 0.8;

    transition: all 0.2s linear;
  }
}

.subtitle {
  opacity: 0.6;
}

body {
  background: var(--first-color);

  min-height: 100%;

  color: var(--font-color);
}
