input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

body {
  overflow: hidden;

  background: #242424;

  min-height: 100vh;

  color: white;
}

form {
  background: #696969;

  padding: 20px;

  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 30px auto;

  text-align: center;

  border-radius: 24px;

  & > h1 {
    font-size: 40px;
  }

  & > .form-group {
    display: flex;
    flex-direction: column;

    text-align: left;

    margin: 10px 0;

    & > label {
      font-size: 22px;
    }

    & > input {
      padding: 7px 14px;

      border-radius: 24px;
      border: 2px solid #000;

      font-size: 25px;
    }
  }

  & > .numeric-data {
    display: flex;
    justify-content: space-around;

    padding: 20px;

    & > .numeric-data-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > label {
        font-size: 22px;
      }

      & > input {
        width: 50px;
        height: 70px;

        border-radius: 8px;
        border: 2px solid #000;

        font-size: 30px;

        text-align: center;
      }
    }
  }

  & > button {
    background: #4150d9;

    width: 70%;
    height: 50px;

    margin: 20px auto;

    border-radius: 24px;
    border: none;

    font-size: 25px;
    color: #fff;

    transition: background 0.2s linear;

    cursor: pointer;

    &:hover {
      background: #28ff2c;
    }
  }
}
