#user-aside {
  width: 15%;
  height: calc(100% - 40px);

  position: fixed;
  top: 0;
  right: 0;

  background: var(--second-color);

  margin: var(--gap) var(--gap) 0 0;
  padding: 20px 15px;

  border-radius: var(--border-radius);

  text-align: center;

  & .training-info-div {
    display: flex;
    gap: 10px;

    & .training-info-title {
      font-size: 15px;
    }
  }

  & .link-add-exercise {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    background: none;

    width: 90%;

    border: none;

    font-size: 18px;
    color: var(--font-color);
    text-decoration: none;

    padding: 10px 14px;

    cursor: pointer;

    transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.7;
    }
  }
}
